@use 'global' as *;

.lower-pagination {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(80);
  }
}

/* 投稿ページ用のmodifier */
.lower-pagination--single {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }
}