@use 'global' as *;

.about {
  padding-top: rem(70);
  padding-bottom: rem(82);
  @include mq('md') {
    padding-top: rem(134);
    padding-bottom: rem(140);
    position: relative;
  }
}

.about::before {
  @include mq('md') {
    content: "";
    width: rem(194);
    height: rem(181);
    background-image: url(../images/common/illust_about_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: rem(50);
    right: rem(82);
    z-index: 2;
  }
}

.about__title-wrap {
  text-align: center;
}

.about__image-wrap {
  position: relative;
  max-width: 1080px;
  height: auto;
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(37);
  }
}

.about__image-1 {
  position: absolute;
  top: 0;
  width: calc(399 / 1080 * 100%);
  max-width: rem(399);
  aspect-ratio: 128 / 194;
  overflow: hidden;
  z-index: 2;
}
.about__image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about__image-2 {
  aspect-ratio: 281 / 212;
  overflow: hidden;
  width: calc(880 / 1080 * 100%);
  max-width: rem(880);
  margin-left: auto;
  margin-right: 0;
  @include mq('md') {
    // aspect-ratio: 880 / 581;//修正前
    aspect-ratio: 880/661;
    padding-top: rem(54);
  }
}

.about__image-2 img {
  margin-top: rem(26);
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq('md') {
    // margin-top: rem(80);//修正前
  }
}

.about__contents-wrap {
  margin-top: rem(41);
  @include mq('md') {
    width: calc(840 / 1080 * 100%);
    max-width: rem(840);
    position: absolute;
    top: 48%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    justify-content: space-between;
  }
}

.about__catchcopy {
  color: $accent;
  font-size: rem(40);
  font-weight: $normal;
  line-height: calc(40 / 40);
  font-family: $second-font-family;
  @include mq('md') {
    width: calc(400 / 840 * 100%);
    color: $white;
    font-size: rem(80);
    font-weight: $normal;
    line-height: calc(100 / 80);
  }
}

.about__text-block {
  margin-top: rem(16);
  @include mq('md') {
    width: calc(400 / 840 * 100%);
    margin-top: 0;
  }
}

.about__text {
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(24 / 16);
  @include mq('md') {
    color: $white;
  }
}

.about__button-wrap {
  text-align: center;
  margin-top: rem(16);
  @include mq('md') {
    margin-top: rem(40);
  }
}


