@use 'global' as *;

.blog-archive__items {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(40);
  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(80);
    column-gap: rem(40);
  }
}

.blog-archive__item {
  max-width: rem(333);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}