@use 'global' as *;

.blog-card-small {
  display: flex;
  padding: rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.blog-card-small__image {
  max-width: rem(121);
  width: 100%;
  aspect-ratio: 121 / 90;
  overflow: hidden;
}

.blog-card-small__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-small__body {
  margin-left: rem(16);
}

.blog-card-small__date {
  font-size: rem(12);
  font-weight: 400;
  line-height: calc(18 / 12);
  font-family: $second-font-family;
}

.blog-card-small__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(23 / 16);
}