@use 'global' as *;

.blog {
  padding-top: rem(80);
  @include mq('md') {
    padding-top: rem(100);
    background-image: url(../images/common/Blog-BG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 60.2%;
    background-position: top center;
    position: relative;
  }
}

.inner.blog__inner {
  padding: 0 20px;
  @include mq('md') {
    padding: 0 25px;
  }
}

.blog::before {
  @include mq('md') {
    content: "";
    width: rem(377);
    height: rem(121);
    background-image: url(../images/common/illust_blog.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: rem(24);
    left: max(rem(15), calc(50% - rem(620)));
  }
}

.blog__title-wrap {
  text-align: center;
}

.blog__items {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.blog__button-wrap {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}