@use 'global' as *;

.campaign-card {

  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.campaign-card__image {
  position: relative;
}

.campaign-card__image::before {
  content: "";
  display: block;
  padding-top: calc(188 / 280 * 100%);
}

.campaign-card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.campaign-card__body {
  padding-top: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(16);
  padding-left: rem(16);
@include mq('md') {
  padding-top: rem(24);
  padding-right: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  }
}

.campaign-card__tag {
  display: inline-block;
  font-size: rem(12);
  font-weight: $normal;
  line-height: calc(22 / 12);
  color: $accent;
  padding: rem(6) rem(16);
  border: 1px solid $accent;
}

.campaign-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(24 /16);
  margin-top: rem(4);
}

.campaign-card__text-block {
  padding-top: rem(8);
  padding-bottom: rem(8);
  text-align: center;
  border-top: 1px solid $accent;
  margin-top: rem(8);
  @include mq('md') {
    padding-top: rem(16);
    padding-bottom: rem(16);
  }
}

.campaign-card__text {
  font-size: rem(14);
  font-weight: $normal;
  line-height: calc(24 /14);
  margin-top: rem(4);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(24 /16);
  }
}

.campaign-card__price-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(8);
}

.campaign-card__price-before {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(20 / 20);
  font-family: $third-font-family;
  position: relative;
  @include mq('md') {
    font-size: rem(24);
  }
}
.campaign-card__price-before::before {
  content: "";
  display: block;
  width: rem(76);
  height: rem(3);
  background-color: #C94800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq('md') {
    width: rem(91);
  }
}

.campaign-card__price-after {
  margin-left: rem(16);
  font-size: rem(32);
  font-weight: $bold;
  line-height: calc(32 / 32);
  color: $accent;
  font-family: $third-font-family;
  @include mq('md') {
    margin-left: rem(25);
    font-size: rem(40);
    line-height: calc(40 / 40);
  }
}
