@use 'global' as *;

.campaign {
  overflow: hidden;
  padding-bottom: rem(10);
  @include mq('md') {
    padding-top: rem(10);
  }
}

.campaign__inner {
  padding-right: 0;
}

.campaign__title-wrap {
  text-align: center;
}

.campaign__content {
  margin-top: rem(13);
  @include mq('md') {
    max-width: rem(1440);
    margin-top: rem(29);
    position: relative;
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: 0;
  }
}

.campaign__button-wrap {
  text-align: center;
  margin-top: rem(30);
  @include mq('md') {
    margin-top: rem(70);
  }
}

