@use 'global' as *;

.footer {
  background-color: $accent;
  color: $white;
  padding-top: rem(48);
  padding-right: 0;
  padding-bottom: rem(56);
  padding-left: 0;
  @include mq('md') {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__heading {
  @include mq('md') {
    display: flex;
    align-items: end;
  }
}

.footer__logo img {
  width: rem(120);
  @include mq('md') {
    width: rem(200);
  }
}

.footer__logo a:hover {
  opacity: 0.7;
}

.footer__sns {
  display: flex;
  margin-top: rem(16);
  @include mq('md') {
    margin-left: rem(40);
  }
}

.footer__sns a:hover {
  opacity: 0.7;
}

.footer__sns img {
  width: rem(24);
  @include mq('md') {
    width: rem(32);
  }
}

.footer__sns-instagram {
  margin-left: rem(16);
}

.footer__body {
  display: flex;
  justify-content: space-between;
}

.footer__body-left {
  width: 50%;
  @include mq('md') {
    display: flex;
    justify-content: space-between;
  }
}

.footer__body-right {
  width: 50%;
  margin-left: rem(18);
  @include mq('md') {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
}

.footer__column {
  @include mq('md') {
    width: 50%;
  }
}

.footer__body-left .footer__column:nth-child(n+2) {
  @include mq('md') {
    margin-left: rem(32);
  }
}

.footer__body-right .footer__column {
  @include mq('md') {
    margin-left: rem(16);
  }
}

.footer__nav-wrap {
  @include mq('md') {
    display: flex;
  }
}

.footer__nav-item {
  padding-left: rem(22);
  margin-top: rem(37);
  position: relative;
  @include mq('md') {
    margin-top: rem(22);
  }
}

.footer__nav-item:not(:first-child) {
  margin-top: rem(34);
  @include mq('md') {
    margin-top: rem(33);
  }
}

.footer__nav-item.footer__nav-item--mt {
  margin-top: rem(31);
  @include mq('md') {
    margin-top: rem(33);
  }
}

.footer__nav-item::before {
  content: "";
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
  top: rem(5);
}

.footer__nav-item a {
  font-weight: $bold;
  position: relative;
  line-height: calc(18 / 16);
  display: inline-block;
  width: 100%;
}

.footer__nav-item a:hover {
  opacity: 0.7;
}

.footer__sub-nav-item {
  margin-top: rem(18);
  @include mq('md') {
    margin-top: rem(18);
  }
}

.footer__sub-nav-item a {
  font-weight: $normal;
  white-space: nowrap;
}

.footer__sub-nav-item a:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin-top: rem(36);
  text-align: center;
  @include mq('md') {
    margin-top: rem(25);
  }
}

.footer__copyright small {
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: $normal;
  line-height: calc(18 / 12);
  @include mq('md') {
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}