@use 'global' as *;

.gallery__container {
  display: grid;
  grid-auto-flow: dense;
  gap: rem(8);
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(38);
  @include mq('md') {
    grid-template-columns: repeat(11, 1fr);
    margin-top: rem(82);
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
}

.gallery__image:nth-child(6n + 1) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-row: span 2;
    grid-column: span 5;
  }
}

.gallery__image:nth-child(6n + 2){
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}

.gallery__image:nth-child(6n + 3) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}
.gallery__image:nth-child(6n + 4) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}

.gallery__image:nth-child(6n + 5) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-column: span 6;
  }
}

.gallery__image:nth-child(6n + 6) {
  grid-row: span 1;
  grid-column: span 1;
  @include mq(md) {
    grid-row: span 2;
    grid-column: span 5;
  }
}

.gallery__image:nth-child(6n + 1),
.gallery__image:nth-child(6n + 6) {
  aspect-ratio: 492 / 746;
  overflow: hidden;
}

.gallery__image:nth-child(6n + 2),
.gallery__image:nth-child(6n + 3),
.gallery__image:nth-child(6n + 4),
.gallery__image:nth-child(6n + 5) {
  aspect-ratio: 580 / 369;
  overflow: hidden;
}

.gallery__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#gallery__gray-display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.80);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#gallery__gray-display img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 63.88888%;
  max-height: 75%;
  object-fit: contain;
}