@use 'global' as *;

.information-main {
  position: relative;
}

.information-main::before {
  content: "";
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/illust_fish-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: rem(-93);
  left: max(rem(15), calc(50% - rem(620)));
  z-index: -1;
  @include mq('md') {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
  }
}

.information-main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.information-main__menu-item {
  color: #408F95;
  background: #DDF0F1;
  font-size: rem(14);
  font-weight: 400;
  line-height: 1;
  width: rem(102);
  height: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  padding: rem(10);
  text-align: center;
  line-height: calc(20 / 14);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  @include mq('md') {
    width: rem(300);
    height: rem(90);
    font-size: rem(24);
    line-height: 1;
    box-shadow: initial;
  }
}

.information-main__menu-item.is-active {
  background: #408F95;
  color: $white;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.information-main__menu-item span {
  @include mq('md') {
    width: rem(64);
    height: rem(64);
    margin-right: rem(8);
    fill: #408F95;
  }
}

/* タブのアイコン */
.information-main__menu-item--license span {
  background: url(../images/common/License-course_icon_off.svg) no-repeat center center/cover;
}
.information-main__menu-item--fun span {
  background: url(../images/common/Fun-diving_icon_off.svg) no-repeat center center/cover;
}
.information-main__menu-item--trial span {
  background: url(../images/common/Trial-diving_icon_off.svg) no-repeat center center/cover;
}
/* タブのアイコン(アクティブ時) */
.information-main__menu-item.is-active.information-main__menu-item--license span {
  background: url(../images/common/License-course_icon.svg) no-repeat center center/cover;
}
.information-main__menu-item.is-active.information-main__menu-item--fun span {
  background: url(../images/common/Fun-diving_icon.svg) no-repeat center center/cover;
}
.information-main__menu-item.is-active.information-main__menu-item--trial span {
  background: url(../images/common/Trial-diving_icon.svg) no-repeat center center/cover;
}

.information-main__contents {
  width: 100%;
  margin-top: rem(15);
  @include mq('md') {
    margin-top: rem(24);
  }
}

.information-main__content {
  display: none;
}

.information-main__content.is-active {
  display: block;
}