@use 'global' as *;

.mv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}

.mv__image-pc {
  display: none;
  @include mq('md') {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.mv__image-sp {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  @include mq('md') {
    display: none;
  }
}

.mv__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  @include mq('md') {
    top: 55.6%;
    left: 50%;
  }
}

.mv__title {
  color: $white;
  font-family: $third-font-family;
  font-size: rem(40);
  letter-spacing: 0.54em;
  line-height: calc(48 / 40);
  padding-left: rem(24);
  @include mq('md') {
    font-size: rem(80);
    line-height: calc(100 / 80);
    letter-spacing: 0.525em;
    padding-left: rem(40);
  }
}

.mv__sub-title {
    font-size: rem(20);
    font-family: $second-font-family;
    line-height: calc(33 / 20);
    color: $white;
}

