@use 'global' as *;

.section-title {
  display: inline-block;
  font-size: rem(12);
  color: $accent;
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: calc(18 / 12);
  position: relative;
  text-align: center;
}

.section-title::before {
  content: attr(data-en);
  text-transform: capitalize;
  font-family: $second-font-family;
  font-size: rem(32);
  font-weight: $normal;
  color: $black;
  display: block;
  line-height: calc(40 / 32);
  text-align: center;
  margin-bottom: rem(8);
  @include mq('md') {
    font-size: rem(40);
    line-height: calc(40 / 40);
  }
}

.section-title::first-letter {
  color: $accent;
}

.section-title--white {
  color: $white;
}

.section-title--white::before {
  color: $white;
}

.section-title--white::first-letter {
  color: $white;
}