@use 'global' as *;

.section-title {
  text-align: center;
}

.section-title__en {
  content: attr(data-en);
  font-family: $second-font-family;
  font-size: rem(32);
  font-weight: $normal;
  color: $black;
  line-height: calc(40 / 32);
  text-align: center;
  @include mq('md') {
    font-size: rem(40);
    line-height: calc(40 / 40);
  }
}

.section-title__en::first-letter {
  color: $accent;
  text-transform: capitalize;
}

.section-title__en.section-title__en--big-fs {
  font-size: rem(78);
  margin-top: rem(0);
  margin-bottom: rem(-14);
  @include mq('md') {
    margin-top: rem(0);
    margin-bottom: rem(-6);
  }
}

.section-title__jp {
  font-size: rem(12);
  color: $accent;
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: calc(18 / 12);
  margin-top: rem(6);
  @include mq('md') {
    margin-top: rem(8);
  }
}

.section-title--white .section-title__en {
  @include mq('md') {
    color: $white;
  }
}

.section-title--white .section-title__en::first-letter {
  @include mq('md') {
    color: $white;
  }
}

.section-title--white .section-title__jp {
  @include mq('md') {
    color: $white;
  }
}

.section-title__jp.section-title__jp--contact {
  margin-top: rem(0);
  @include mq('md') {
    margin-top: rem(8);
  }
}