@use 'global' as *;

.voice {
  @include mq('md') {
    position: relative;
  }
}

.voice::before {
  @include mq('md') {
    content: "";
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/illust_voice_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: rem(-120);
    left: max(rem(15), calc(50% - rem(620)));
  }

}

.voice::after {
  @include mq('md') {
    content: "";
    width: rem(71);
    height: rem(162);
    background-image: url(../images/common/illust_voice_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: max(rem(15),calc(50% - rem(541)));
    bottom: rem(-68);
  }
}

.voice__title-wrap {
  text-align: center;
}

.voice__items {
  display: block;
  margin-top: rem(40);
  @include mq('md') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(40);
    margin-top: rem(30);
  }
}

.voice__item:nth-child(n + 2) {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
  }
}

.voice__button-wrap {
  text-align: center;
  margin-top: rem(42);
  @include mq('md') {
    margin-top: rem(80);
  }
}

